# you may need to define this in other profile scripts
CYVERSE_INSTALL_ROOT={{EZ_INSTALL_DIR|default("/opt")}}

ez () {

	if [ $# -ne 1 -o "$1" != "update" ]; then

		echo "
Here are the different ez commands:

ez   -> this help menu
ezj  -> run jupyter-notebook with python detection

Options to pass to 'ezj':
-q      do not attempt to install, just launch jupyter!
-R      install the R kernel (-r also works)
-2      force python 2 kernel (not compatible with -3 option)
-3      force python 3 kernel (not compatible with -2 option)
-u      force update of anaconda (default is no update)
-p      takes a directory as an option; install in a different location other than default ($CYVERSE_INSTALL_ROOT)
        NOTE: if you set this, you must pass it again for future calls

Example of options

        ezj -u -R
        ezj -p /opt -u

"
	else
		echo "updating ez cli"
		ansible-pull -v -U https://github.com/cyverse-org/cyverse-ez.git -d /opt/cyverse-ez -i locahost -o > /var/log/cyverse-ez.log 2>&1
		if [ $? -eq 0 ]; then
			echo "success in updating!"
			for i in /etc/profile.d/cyverse*; do
				source $i
			done
		else
			echo "Warning: there may have been an issue updating, but you can probably still use ez cli"
		fi

	fi
}
